body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #262626;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #f2f2f2;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

li {
  margin-bottom: 20px;
  text-align: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.product-item img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  border: 10px solid #333;
}

.product-item h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #FFEB99; /* Amarelo suave */
}

.product-item .product-desc {
  font-size: 18px;
  color: #C0C0C0; /* Prateado */
}